.logo{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 768px){
    .logo{
        font-size: 24px;
    }
    
}